{%extends 'base.html'%}

{% block content %}
    <h1>アニメを検索する</h1>
    <h5 class = "mb-4">アニメのタイトル、メインカテゴリ、サブカテゴリで検索できます。</h5>
    <form method="get">
        {{ form.as_p }}
        <button type="submit" class = "btn btn-primary shadow-lg  mb-4">検索する</button>
    </form>

    {% if query %}
    <h2>"{{ query }}"　の検索結果</h2>
    {% if results %}
    <ul>
        {% for anime in results %}
        <div class="p-4 m-4 bg-light border border-success border-2 rounded shadow-lg">
            <h2 class="text-success">{{anime.name}}</h2>
            <img src="{{anime.thumbnail.url}}" class="img-thumbnail" />
            <h6>メインカテゴリ:{{anime.main_category}}</h6>
            <h6>サブカテゴリ:{{anime.sub_category}}</h6>
            <h5>スコア：{{anime.score}}点</h5>
            <h5>管理者のレビュー：{{anime.comment}}</h5>
            <div class="mt-3">
                <a href="{%url 'detail-anime' anime.pk%}" class="btn btn-primary shadow-lg">詳細・レビューページへ</a>
            </div>
        </div>
            
        {% endfor %}
    </ul>
    {% else %}
    <p>No results found.</p>
    {% endif %}
    {% endif %}
{% endblock %}