{%extends 'base.html'%}
{%block title%}{{object.name}}{%endblock%}
{%block h1%}コンテンツ詳細{%endblock%}

{%block content%}
<div class = "p-4 m-4 bg-light border border-success rounded">
    <h2 class="text-success">{{object.name}}</h2>
    <p>{{object.overview}}</p>
    <div class="border p-4 mb-2">
        {%for review in object.review_set.all%}
            <div>
                <div class="px-2">
                    投稿ユーザ:{{review.user.username}}
                    <h6>評価：{{review.score}}点</h6>
                    <p>{{review.comment}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <h6 class="card-title">メインカテゴリ：{{object.main_category}}</h6>
    <h6 class="card-title">サブカテゴリ：{{object.sub_category}}</h6>
    <h6 class="card-title">スコア：{{object.score}}</h6>
    <a href="{%url 'anime_index'%}" class="btn btn-primary">アニメ一覧へ</a>
    <a href="{%url 'review' object.pk%}" class="btn btn-primary">コメント・レビューする</a>
    
    {% if request.user.is_superuser %}
    <a href="{%url 'update-anime' object.pk%}" class="btn btn-primary">編集する</a>
    <a href="{%url 'delete-anime' object.pk%}" class="btn btn-primary">削除する</a>
    {%endif%}
</div>
{%endblock content%}